.container {
  padding: 0 auto;
  
}

.title {
  text-align: center;
  top: 15px;
  left: 35px;
  color: black;
}

.main {
  margin: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.label {
  margin: 0;
  color:black;
  letter-spacing: 2px;
  font-family: 'fantasy';
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  text-transform: capitalize;
}


.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}

.col {
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
 
 
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
