.container {
    background-color: burlywood;
    opacity: 70%;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.content {
    letter-spacing: 2px;
    
}

.nama {
    font-size: 25px;
    padding: 20px;
}

.menu {
    display: flex;
    font-size: 20px;
    text-align: right;
    align-items: center;
    
}

.item {
    padding: 20px;
    margin: 20px;
    justify-content: flex-end;
    list-style: none;
    text-shadow: #000;
}

.burgerBtn {
    display: none;
}

@media screen and (max-width: 780px) {
    .container {
      padding: 1rem;
    }
  
    .nama {
      display: flex;
      position: absolute;
      top: 15px;
      left: 35px;
    }
  
    .menu {
      display: none; 
      align-items: center;
    }
  
    .menu li {
      text-align: center;
      margin: 0;
    }

    .menuLink {
        position: absolute;
        display: block;
        list-style: none;
        top: 4rem;
        left: 0;
        width: 100%;
        padding: 10px;
        background-color: #fff;
            
      }
  
    .item {
      border-top: 1px solid #000;
      text-align: center;
      margin-right: 0;
      padding: 20px 0;
      list-style: none;
      align-items: center;
    }

    .burgerBtn {
        display: block;
        position: absolute;
        color: black;
        border: none;
        outline: none;
        top: 50px;
        right: 25px;
        
    }
  
   
  
    
}  